@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["username"]</p> 
    <p>Learn about .</p>
    <br>
    <br>
    <p> create a <a href="/Orders/Create">new order</a> today!</p>
    <br>
    <p> you can also use <a href="/swagger">the API.</a></p>
</div>
