@{
    ViewData["Title"] = "Login Page";
    //Layout = "~/Views/Shared/_LoginLayout.cshtml";
    Layout = "../Shared/_LoginLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>please log in</p>
</div>